@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    background: black;
}
h2{
    font-size: 150%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
.button-con-lab6{
    margin-left: 227px;
    margin-top: 190px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 6;
}
.button-con-active-lab6{
    transform: translateX(-100%);
}
.text-con-lab6{
    font-size: 40px;
    color: #40047C;
    font-family: "Jura", sans-serif;
}
.lab6{
    transition: 0.5s;
    border: 15px solid rgba(104,104,230,0.15);
    line-height: 2.5em;
    background: #7fc1ff;
    z-index: 6;
    position: fixed;
    left: 0;
    top: 470px;
    width: 13%;
    height: 30vh;
}

.site-header{
    position: absolute;
}


/*АНИМАЦИЯ*/
.wr{
    position: relative;
    height: 1700px;
    overflow: hidden;
}
.active-project{
    transform: translateY(68%);
}
.active-contacts{
    transform: translateY(75%);
}
.active-window-project{
    transform: translateY(85%);
}
.active-pos-pj{
    transform: translateY(140%);
}
.active-pos-con{
    transform: translateY(550%);
}

.active-window-contacts{
    transform: translateY(97%);
}
.active-button-prog{
    top: -5%;
    left: 5%;
    height:133%;
    width: 60%;
}
.pass-button-prog{
    height:846px;
    width: 50%;
    left: 0;
    top: 0;
}
.active-button-art-z{
    z-index: 0;
}
.pass-button-art-z{
    z-index: 1;
}

.active-button-art{
    top: -5%;
    left: -5%;
    height:139%;
    width: 60%;
}
.pass-button-art{
    height:846px;
    width: 50%;
    left: 0;
    top: 0;
}



/*кнопки вверху экрана на главной станице для перехода в портфолио*/
.jump-button-prog {
    position: absolute;
    margin-left:50%;
    transform: translate(-100%,0);
    z-index: 1;
    transition: 0.5s;
}
.text-button-prog{
    font-family: "Jura", sans-serif;
    position: absolute;
    margin-left: 50%;
    font-size: 52px;
    color: white;
    transform: translate(-117%,100%);
    z-index: 1;
}

.jump-button-artist {
    position: absolute;
    margin-left: 50%;
    transition: 0.5s;
}
.text-button-artist{
    font-family: "Amatic SC", cursive;
    position: absolute;
    margin-left: 50%;
    font-size: 70px;
    color: white;
    transform: translate(37%,190%);
    z-index: 1;
}

/*фото владельца портфолио на главной странице*/
.foto {
    left: 0;
    margin-top: 140px;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%,0);
    z-index: 2;
}

/*треугольные двигающиеся вкладки на главной странице*/
/*Приветствие*/
.bookmark-greeting{
    left: 0;
    position: absolute;
    margin-top: 630px;
    margin-left: 50%;
    transform: translate(-50%,0);
    z-index: 2;
    /*font-size: 0px;*/
}
.triangle-greeting {
    width: 0px;
    height: 0px;
    opacity:1.0;
    border-left: 759px solid transparent; /*564*/
    border-right: 759px solid transparent;
    border-bottom: 100px solid #E9E9FF;
}
.triangle-text-greeting{
    font-family: 'Comfortaa', cursive;
    position: absolute;
    transform: translate(190%,-180%);
    white-space: nowrap;
    font-size: 27px;
    color: #40047C;
}
.rectangle-greeting{
    /*width: 1128px;*/width: 100%;
    height: 1000px;
    background: #E9E9FF;
    opacity:1.0;
}
.window-content{
    filter: blur(1px);
    width: 100%;
    height: 900px;
    background: #CDEAF6;
    left: 0;
    top: 0;
    position: absolute;
    margin-left: 50%;
    margin-top: 51%;
    transform: translate(-50%,0);
    z-index: 2;
}
.pos{
    display: flex;
    position: absolute;
    transform: translate(5%,160%);
    z-index: 2;
}
.pos-pj{
    position: absolute;
    margin-left: 4%;
    margin-top: 61.5%;
    transition: 0.5s;
    z-index: 3;
}
.pos-con{
    position: absolute;
    margin-top: 75%;
    transition: 0.5s;
    z-index: 4;
}
.pos-con1{
    float: left;
    margin-right: 430px;
    margin-left: 25%;
}

.foto-for-3p{
    float: left;
    margin-right: 20px;
}
.foto-for-2p{
    transition: 0.8s;
    float: left;
    width: 530px;
    height: 367px;
    background-size: 530px;
    z-index: 3;
    box-shadow: 7px 7px 9px rgba(14,14,14,0.3);
    border: 15px solid rgba(104,104,230,0.15);
    margin-right: 20px;

}
.slide-foto-1{
    background-image: url("21.jpg");
}
.slide-foto-2{
    background-image: url("212.jpg");
}
.slide-foto-3{
    background-image: url("213.jpg");
}

.text-window-content-pj{
    line-height: 0.9em;
    font-family: 'Comfortaa', cursive;
    color: #4D006C;
    z-index: 3;
    white-space: nowrap;
    font-size: 20px;
}
.foto-for-1p{
    width: 500px;
    height: 500px;
    z-index: 2;
    box-shadow: 7px 7px 9px rgba(14,14,14,0.3);
    border: 15px solid rgba(104,104,230,0.15);
}
.text-window-content{
    backdrop-filter: blur(25px);
    box-shadow: 7px 7px 9px rgba(14,14,14,0.3) ;
    border: 15px solid rgba(104,104,230,0.15);
    width: 755px;
    height: 400px;
    margin-left: 50px;
    font-family: 'Comfortaa', cursive;
    color: #40047C;
    z-index: 2;
    white-space: nowrap;
    font-size: 20px;
}
.text-window-button{
    margin-bottom: 50px;
}

/*Текущий проект*/
.bookmark-project{
    left: 0;
    position: absolute;
    margin-top: 730px;
    transition: 0.5s;
    z-index: 3;
    font-size: 0px;
}
.triangle-project {
    width: 0px;
    height: 0px;
    border-left: 759px solid transparent; /*564*/
    border-right: 759px solid transparent;
    border-bottom: 100px solid #f36dff;
}
.rectangle-project{
    /*width: 1128px;*/width: 100%;
    height: 900px;
    background: #f36dff;
}
.triangle-text-project{
    font-family: 'Comfortaa', cursive;
    position: absolute;
    transform: translate(260%,-180%);
    white-space: nowrap;
    font-size: 27px;
    color: #4D006C;
}
.window-content-project{
    filter: blur(80px);
    width: 100%;
    height: 800px;
    background: #F3CCF6;
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 842px;
    transition: 0.5s;
    z-index: 3;
}


/*Контакты*/
.bookmark-contacts{
    left: 0;
    position: absolute;
    margin-top: 830px;
    transition: 0.5s;
    z-index: 4;
    font-size: 0px;
}
.triangle-contacts {
    width: 0px;
    height: 0px;
    border-left: 759px solid transparent; /*564*/
    border-right: 759px solid transparent;
    border-bottom: 100px solid #9779ec;
}
.rectangle-contacts{
    /*width: 1128px;*/width: 100%;
    height: 800px;
    background: #9779ec;
}
.triangle-text-contacts{
    font-family: 'Comfortaa', cursive;
    position: absolute;
    transform: translate(425%,-180%);
    white-space: nowrap;
    font-size: 27px;
    color: white;
}
.window-content-contacts{
    filter: blur(80px);
    width: 100%;
    height: 700px;
    background: #CDEAF6;
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 942px;
    transition: 0.5s;
    z-index: 4;
}
.text-window-content-con{
    line-height: 2.3em;
    font-family: 'Comfortaa', cursive;
    color: #40047C;
    white-space: nowrap;
    font-size: 20px;
}
.text-window-content-con2{
    margin-top: -3%;
    line-height: 1.5em;
    font-family: 'Comfortaa', cursive;
    color: #40047C;
    white-space: nowrap;
    font-size: 20px;
}



/*подвал*/
.triangle-footer {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    margin-top: -100px;
    border-left: 759px solid transparent; /*564*/
    border-right: 759px solid transparent;
    border-bottom: 100px solid #40047C;
}

.rectangle-footer{
    left: 0;
    right: 0;
    position: absolute;
    z-index: 5;
    height: 40px;
    background: #40047C;
    color: #c7e4ff;
}

.text-footer{
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    margin-left: 50%;
    margin-top: -70px;
    z-index: 5;
    position: absolute;
    color: white;
    transform: translate(-50%,50%);
}


